[submodule "golang"]
	path = golang
	url = git@github.com:sarnobat/golang.git
[submodule "python"]
	path = python
	url = git@github.com:sarnobat/python.git
[submodule "graalvm_aotc_java"]
	path = graalvm_aotc_java
	url = git@github.com:sarnobat/graalvm_aotc_java.git
[submodule "cpp_makefile_helloworld"]
	path = cpp_makefile_helloworld
	url = git@github.com:sarnobat/cpp_makefile_helloworld.git
[submodule "rust"]
	path = rust
	url = git@github.com:sarnobat/rust.git
[submodule "javascript"]
	path = javascript
	url = git@github.com:sarnobat/javascript.git
[submodule "c_helloworld"]
	path = c_helloworld
	url = git@github.com:sarnobat/c_helloworld.git
